<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/bundles/styles/site")
    @Styles.Render("~/bundles/styles/bootstrap")


    @Scripts.Render("~/bundles/scripts/jquery")
    @Scripts.Render("~/bundles/scripts/knockout")
    @Scripts.Render("~/bundles/scripts/bootstrap")
    @Scripts.Render("~/bundles/scripts/api")

    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
